<footer class="page-wrap">
    <div id="footer-content">
    	<div>
    		<h3>Blogs</h3>
        <p><a href="http://oneradianthome.com/" target="_new">oneradianthome.com</a></p>

    	</div>

		<div>
			<h3>Contact</h3>
      <p class="footer-email"><i class="icon-email"></i> elizabethgmyer@gmail.com</p>
		</div>
    </div>

	</div>

    <div id="copyrights">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
    </div>
</footer>
